.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.title {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0.02em;
  color: #3f88c5;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.ask {
  margin-bottom: 10px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.02em;
  color: #282846;
}

.subask {
  margin-bottom: 10px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.02em;
  color: #282846;
}

.block_options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.option {
  width: 100%;
}

.menuitem {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #000000;
}
