@import url(https://fonts.googleapis.com/css?family=Nunito:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

.item-enter {
  transform: scale(2);
}
.item-enter-active {
  transform: scale(3);
  transition: opacity 500ms ease-in;
}
.item-exit {
  transform: scale(3);
}
.item-exit-active {
  transform: scale(3);
  transition: opacity 500ms ease-in;
}
