.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.block {
  display: flex;
  align-items: center;
}

.block_user {
  display: flex;
  align-items: center;
  gap: 20px;
}

.welcome {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;

  color: #f9f9f9;
}
